@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.section__centertext {
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
    font-size: 16px;
    max-width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    justify-content: center;
    text-align: center; }

.section__btn {
    display: flex;
    align-items: center;
    justify-content: center; }