@charset "UTF-8";
/****FONTS****/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/****RESET****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body__background {
  background-color: white; }

/****INICIO DE ESTILOS DE NAVEGADOR****/
.navbar ul {
  padding: 0px;
  display: flex;
  flex-flow: row nowrap; }

.navbar .navbar__list {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  font-size: 16px;
  list-style-type: none;
  padding: 20px;
  text-align: center;
  display: inline; }

.navbar .navbar__list__cart {  
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  font-size: 16px;
  list-style-type: none;
  padding: 20px;
  text-align: center;
  display: inline; }

.navbar .navbar__a {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  font-size: 16px;
  text-decoration: none;
  margin: auto;
  width: 50%;
  padding: 0 5px; }

/****INICIO DE ESTILOS DE SECCIÓN****/
.section__maintitle {
  font-family: 'Abril Fatface', cursive;
  color: darkslategray;
  font-size: 120px;
  padding: 20px;
  font-weight: bold;
  text-align: left;
  text-decoration: none; }

.section__title {
  font-family: 'Abril Fatface', cursive;
  color: darkslategray;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  margin-top: 1rem;
  max-width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center; }

.section__subtitle {
  font-family: 'Abril Fatface', cursive;
  color: darkslategray;
  font-size: 18px;
  margin-top: 2rem;
  max-width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center; }

.section__subtitle2 {
  font-family: 'Abril Fatface', cursive;
  color: darkslategray;
  font-size: 16px;
  margin: auto;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center; }

.section__centertext {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  font-size: 16px;
  max-width: 70%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center; }

#aboutme__img {
  display: block;
  margin: auto;
  width: 30%;
  padding: 10px 0;
  justify-content: center;
  text-align: center; }

.section__centerimg {
  margin: auto;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  text-align: center; }

.section__centervid {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center; }

.section__a {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  font-size: 16px;
  text-decoration: none;
  margin: auto;
  width: 50%;
  padding: 10px; }

.container-fluid .section__a {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  font-size: 16px;
  text-decoration: none;
  margin: auto;
  width: 50%;
  padding: 10px; }

.section__list {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 0 auto; }

/****INICIO DE ESTILOS DE TABLA****/
.section__table {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  font-size: 16px;
  margin: 2rem;
  display: flex;
  justify-content: center;
  text-align: center; }

.section__table__title {
  font-weight: bold;
  text-decoration: underline; }

.section__table__line {
  padding: 0 1rem;
  align-content: space-around; }

/****INICIO DE ESTILOS DEL FORMULARIO****/
.section__form {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  margin-top: 1rem;
  height: 400px;
  font-size: 16px; }

.section__form__button {
  display: flex;
  align-items: center;
  justify-content: center; }

.section__form__button__line {
  width: 120px;
  margin-left: 10px;
  transform: translate(0px, 60px); }


/****INICIO DE ESTILOS DEL CART ****/

.section__cart__title {
  font-family: 'Abril Fatface', cursive;
  color: darkslategray;
  font-size: 18px;
  margin-top: 2rem;
  max-width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start; }

.section__cart__subtitle {
    font-family: 'Abril Fatface', cursive;
    color: darkslategray;
    font-size: 16px;}

.section__cart__text {
      font-family: 'Roboto', sans-serif;
      color: darkslategray;
      font-size: 14px;
  }

.section__cart__addbtn {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  text-decoration: none;
  margin: auto;
  width: 30%;
  height: 25px;
}

.section__cart__infobtn {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  text-decoration: none;
  margin: auto;
  width: 50px;
  height: 25px;
}


/****INICIO DE ESTILOS DE GRILLA****/

.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  justify-content: center; }

/****OPERACION EN SECTION__GRID__IMG****/
.section__grid__img {
  width: 384px;
  height: 216px;
  object-fit: cover;
  padding: 1rem; }

/****INICIO DE ESTILOS DE FOOTER****/
.footer {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  font-size: 16px;
  margin: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: center; }

.footer__a {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  font-size: 16px;
  text-decoration: none;
  width: 5rem;
  display: flex;
  justify-content: center; }


  